In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv('C:\\Users\\user\\Desktop\\데분캡\\기본적분석.csv',encoding='cp949')
open=pd.read_csv('kospi_price_data_open.csv',index_col=0)
close=pd.read_csv('kospi_price_data_close.csv',index_col=0)
high=pd.read_csv('kospi_price_data_high.csv',index_col=0)
low=pd.read_csv('kospi_price_data_low.csv',index_col=0)
volume=pd.read_csv('kospi_price_data_volume.csv',index_col=0)
cluster=pd.read_csv('kospi_cluster.csv',encoding='cp949',index_col=0)

open=open.dropna(axis=0)
close=close.dropna(axis=0)
high=high.dropna(axis=0)
low=low.dropna(axis=0)
volume=volume.dropna(axis=0)
open=open.T
close=close.T
high=high.T
low=low.T
volume=volume.T
cluster=cluster.T

In [4]:
data

,일자,종목명,클러스터,관리여부,종가,EPS,PER,BPS,PBR,주당배당금,배당수익률
0,2016년 1월,동화약품,1,0,8140,177,46,8225,1,80,1
1,2016년 1월,KR모터스,0,0,1305,0,0,385,3,0,0
2,2016년 1월,경방,0,0,180000,4190,43,236250,1,500,0
3,2016년 1월,메리츠화재,1,0,15900,1131,14,13190,1,380,2
4,2016년 1월,삼양홀딩스,0,0,151500,327,463,148290,1,1500,1
...,...,...,...,...,...,...,...,...,...,...,...
34873,2020년 9월,금호에이치티,0,0,4205,0,0,2439,2,0,0
34874,2020년 9월,경보제약,0,0,11800,221,53,6239,2,100,1
34875,2020년 9월,토니모리,0,0,10050,0,0,5600,2,0,0
34876,2020년 9월,잇츠한불,0,0,29400,0,0,18789,2,100,0
34877,2020년 9월,현대코퍼레이션홀딩스,0,0,9990,1183,8,19704,1,500,5

In [5]:
data['EPS'].isnull().sum()

0

## 0.클러스터 별 특성

In [6]:
print(data[(data['클러스터']==0) & (data['일자']=='2016년 1월')].median())
print()
print(data[(data['클러스터']==0) & (data['일자']=='2020년 8월')].median())
#하락주

클러스터         0.0
종가       13575.0
EPS        811.5
PER         13.0
BPS      12233.0
PBR          1.0
주당배당금      145.0
배당수익률        1.0
dtype: float64

클러스터         0.0
종가        8055.0
EPS        275.0
PER          7.0
BPS      12322.5
PBR          1.0
주당배당금      122.5
배당수익률        1.0
dtype: float64

In [7]:
print(data[(data['클러스터']==1) & (data['일자']=='2016년 1월')].median())
print()
print(data[(data['클러스터']==1) & (data['일자']=='2020년 8월')].median())
#성장주

클러스터         1.0
종가       11700.0
EPS        423.0
PER          9.0
BPS      12665.0
PBR          1.0
주당배당금      100.0
배당수익률        1.0
dtype: float64

클러스터         1.0
관리여부         0.0
종가       11450.0
EPS        519.0
PER          8.0
BPS      10939.0
PBR          1.0
주당배당금      150.0
배당수익률        1.0
dtype: float64

In [8]:
print(data[(data['클러스터']==2) & (data['일자']=='2016년 1월')].median())
print()
print(data[(data['클러스터']==2) & (data['일자']=='2020년 8월')].median())
#급등주

클러스터        2.0
종가       5165.0
EPS        25.5
PER         8.0
BPS      4599.0
PBR         1.0
주당배당금      29.0
배당수익률       0.5
dtype: float64

클러스터         2.0
종가       16300.0
EPS        129.0
PER         12.0
BPS       6665.0
PBR          3.0
주당배당금        0.0
배당수익률        0.0
dtype: float64

# 기본적 분석

## 1.저PBR 주식을 샀을 때 클러스터, 기간 별 수익률

In [8]:
data[(data['클러스터']==2) & (data['일자']=='2020년 8월')].describe()

,클러스터,종가,EPS,PER,BPS,PBR,주당배당금,배당수익률
count,33.0,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000
mean,2.0,66858.636364,2099.666667,107.636364,17789.212121,4.666667,333.939394,0.393939
std,0.0,151591.178340,4046.217900,364.969247,27944.988950,5.537749,923.984880,0.555619
min,2.0,1220.000000,0.000000,0.000000,260.000000,1.000000,0.000000,0.000000
25%,2.0,5870.000000,0.000000,0.000000,2689.000000,2.000000,0.000000,0.000000
50%,2.0,16300.000000,129.000000,12.000000,6665.000000,3.000000,0.000000,0.000000
75%,2.0,73500.000000,1729.000000,54.000000,16020.000000,5.000000,300.000000,1.000000
max,2.0,844000.000000,17387.000000,2100.000000,113836.000000,26.000000,5220.000000,2.000000

In [9]:
jongmok=list(data[(data['클러스터']==0) & (data['일자']=='2016년 1월')& (data['PBR']<1)]['종목명'])
jongmok

['CS홀딩스',
 'LS네트웍스',
 '이화산업',
 '화천기공',
 '만호제강',
 '대한제분',
 'GS글로벌',
 '삼부토건',
 'KISCO홀딩스',
 '고려제강',
 '동일제강',
 '유성기업',
 '유화증권',
 '한진중공업홀딩스',
 '한화투자증권',
 '현대제철',
 '삼천리',
 '휴스틸',
 '부산주공',
 '신영와코루',
 '한국전자홀딩스',
 '대구백화점',
 '삼성공조',
 '대동전자',
 '무림페이퍼',
 '삼성중공업',
 '화천기계',
 '디와이',
 '대성홀딩스',
 'E1',
 '한국종합기술',
 '롯데쇼핑',
 '한국주강',
 '두산중공업',
 '대우조선해양',
 '세아홀딩스',
 '지역난방공사',
 'STX중공업',
 '미래에셋생명',
 '제주항공',
 'KPX홀딩스',
 '한진중공업',
 'BNK금융지주',
 'DGB금융지주',
 '한솔제지']

In [10]:
close['한솔제지']

2016-01-04    19478.699219
2016-01-05    19381.800781
2016-01-06    19284.900391
2016-01-07    19527.099609
2016-01-08    19624.099609
                  ...
2020-09-23    14100.000000
2020-09-24    13650.000000
2020-09-25    13600.000000
2020-09-28    13900.000000
2020-09-29    13950.000000
Name: 한솔제지, Length: 1159, dtype: float64

In [88]:
def low_pbr(cluster,period,measure): #Cluster, 투자 시작일, 투자 기간, PBR 기준
    jongmok=list(data[(data['클러스터']==cluster) & (data['일자']=='2016년 2월')& (data['PBR']<measure)]['종목명'])
    up_down=[]
    for i in range(len(jongmok)):
        price=[]
        for j in range(0,len(close),period):
            price.append(close[jongmok[i]][j])
        for k in range(1,len(price)):
            up_down.append((price[k]-price[0])/price[0])
    up_down=pd.DataFrame(up_down)    
    return up_down.median()[0]

In [89]:
low_pbr(2,240,10)

1.171659546449498

In [109]:
#grid search
low_pbr_cluster=[]
low_pbr_measure=[]
low_pbr_period=[]
low_pbr_ary=[]
for i in range(3):#cluster i 
    for j in range(10,1150,30):#period j
        for k in range(5,20): #measure k
            low_pbr_cluster.append(i)
            low_pbr_measure.append(0.1*k)
            low_pbr_period.append(j)
            low_pbr_ary.append(low_pbr(i,j,0.1*k))
            

low_pbr_df=pd.DataFrame({'클러스터':low_pbr_cluster,'PBR_기준':low_pbr_measure,'투자기간':low_pbr_period,'결과':low_pbr_ary})
low_pbr_df

      클러스터  PBR_기준  투자기간        결과
0        0     0.5    10 -0.108633
1        0     0.6    10 -0.108633
2        0     0.7    10 -0.108633
3        0     0.8    10 -0.108633
4        0     0.9    10 -0.108633
...    ...     ...   ...       ...
1705     2     1.5  1120  1.883463
1706     2     1.6  1120  1.883463
1707     2     1.7  1120  1.883463
1708     2     1.8  1120  1.883463
1709     2     1.9  1120  1.883463

[1710 rows x 4 columns]

In [107]:
low_pbr_df.to_csv('low_pbr.csv',encoding='ANSI')

## 2.저PER 주식을 샀을 때 클러스터, 기간 별 수익률

In [16]:
def low_per(cluster,period,measure): #Cluster, 투자 시작일, 투자 기간, PBR 기준
    jongmok=list(data[(data['클러스터']==cluster) & (data['일자']=='2016년 2월')& (data['PER']<measure)]['종목명'])
    up_down=[]
    for i in range(len(jongmok)):
        price=[]
        for j in range(0,len(close),period):
            price.append(close[jongmok[i]][j])
        for k in range(1,len(price)):
            up_down.append((price[k]-price[0])/price[0])
    up_down=pd.DataFrame(up_down)    
    return up_down.median()[0]

In [103]:
low_per(0,30,1)

-0.2355987237237237

In [17]:
#grid search
low_per_cluster=[]
low_per_measure=[]
low_per_period=[]
low_per_ary=[]
for i in range(3):#cluster i 
    for j in range(10,1150,30):#period j
        for k in range(5,20): #measure k
            low_per_cluster.append(i)
            low_per_measure.append(0.1*k)
            low_per_period.append(j)
            low_per_ary.append(low_per(i,j,0.1*k))
            

low_per_df=pd.DataFrame({'클러스터':low_per_cluster,'PER_기준':low_per_measure,'투자기간':low_per_period,'결과':low_per_ary})
low_per_df

      클러스터  PER_기준  투자기간        결과
0        0     0.5    10 -0.227361
1        0     0.6    10 -0.227361
2        0     0.7    10 -0.227361
3        0     0.8    10 -0.227361
4        0     0.9    10 -0.227361
...    ...     ...   ...       ...
1705     2     1.5  1120  1.789047
1706     2     1.6  1120  1.789047
1707     2     1.7  1120  1.789047
1708     2     1.8  1120  1.789047
1709     2     1.9  1120  1.789047

[1710 rows x 4 columns]

In [18]:
low_per_df.to_csv('low_per.csv',encoding='ANSI')

# 기술적 분석

In [15]:
cluster

,한화생명,미래에셋대우,한국전력공사,삼성중공업,기아자동차,대우건설,LG디스플레이,HMM,BNK금융지주,케이티,...,보락,엔씨소프트,삼화콘덴서공업,F&F,삼일제약,삼화전기,비케이탑스,디와이파워,부산산업,시디즈
cluster,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.0000
2016-01-04,100.000000,100.000000,100.0,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0000
2016-01-05,100.554017,99.555556,101.4,97.234997,99.803150,99.252336,99.581590,96.500115,101.204819,100.714286,...,102.374670,104.901961,101.652893,98.130841,100.273873,101.330799,94.444444,100.499168,98.328267,101.5625
2016-01-06,100.692521,97.333333,101.6,99.539182,97.244094,97.383178,96.652720,92.000032,97.951807,100.357143,...,101.187335,104.411765,99.586777,96.261682,104.383561,97.908745,92.592593,99.833611,95.744681,99.3750
2016-01-07,98.476454,92.888889,100.6,95.852548,97.047244,97.009346,94.560669,87.750196,98.554217,99.107143,...,99.472296,107.598039,95.454545,95.015576,107.945068,93.346008,91.111111,100.831947,93.161094,96.5625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-23,20.706371,96.666667,40.2,61.269092,90.551181,52.429907,66.527197,28.321636,60.240964,81.428571,...,303.430079,394.607843,453.719008,543.925234,294.146413,353.612167,353.333333,173.876872,352.583587,388.1250
2020-09-24,19.944598,93.000000,39.5,59.501715,87.696850,50.467290,63.179916,27.249147,59.457831,80.000000,...,294.195251,385.784314,433.057851,530.218068,300.525492,339.353612,343.703704,168.885191,348.024316,369.3750
2020-09-25,20.152355,92.777778,39.4,60.679966,86.614173,50.654206,62.552301,27.249147,60.180723,80.000000,...,284.960422,384.313725,439.669421,520.249221,310.448503,342.205323,333.333333,168.885191,375.379939,373.1250
2020-09-28,20.498615,93.666667,40.4,61.504743,89.566929,51.495327,63.179916,28.917463,60.240964,80.714286,...,302.110818,391.666667,447.933884,533.333333,320.371515,350.760456,345.925926,179.700499,369.300912,373.7500
2020-09-29,21.121884,94.222222,40.8,62.800820,92.322835,52.056075,64.225941,28.639410,60.963855,81.964286,...,310.686016,395.098039,452.892562,555.140187,330.294526,349.809886,383.703704,179.700499,370.820669,376.8750

## 3.과매도로 인한 대량 낙폭 발생 시 매수 전략

In [9]:
def oversold(cluster,k): # Cluster 에 대해 k 일간 하락 시 매수 전략, 경우의 수 총 1160*719 = 834040개
    jongmok=list(data[(data['클러스터']==cluster)& (data['일자']=='2016년 2월')]['종목명'])
    up_down=[]
    for i in range(len(jongmok)):
        for j in range(1,len(close)):
            cnt=0
            for days in range(k+1):
                try:
                    if close[jongmok[i]][j+days]<close[jongmok[i]][j+days-1]:
                        cnt+=1
                except:
                    pass
            if cnt==k:
                try:
                    up_down.append((close[jongmok[i]][j+k]-close[jongmok[i]][j+k-1])/close[jongmok[i]][j+k-1])
                    j+=k
                except:
                    pass
    up_down=pd.DataFrame(up_down) 
    return up_down.median()[0]
    #return up_down

In [10]:
#grid search
oversold_cluster=[]
oversold_period=[]
oversold_ary=[]
for i in range(3):#cluster i 
    for j in range(1,10):#period j
        oversold_cluster.append(i)
        oversold_period.append(j)
        oversold_ary.append(oversold(i,j))
            

oversold_df=pd.DataFrame({'클러스터':oversold_cluster,'하락기간':oversold_period,'결과':oversold_ary})
oversold_df

    클러스터  하락기간        결과
0      0     1  0.000000
1      0     2 -0.005727
2      0     3 -0.007886
3      0     4 -0.009036
4      0     5 -0.009902
5      0     6 -0.011057
6      0     7 -0.011842
7      0     8 -0.011740
8      0     9 -0.012295
9      1     1  0.000000
10     1     2 -0.006316
11     1     3 -0.008642
12     1     4 -0.009921
13     1     5 -0.010989
14     1     6 -0.012195
15     1     7 -0.013204
16     1     8 -0.013398
17     1     9 -0.013932
18     2     1  0.000000
19     2     2 -0.008276
20     2     3 -0.011059
21     2     4 -0.012422
22     2     5 -0.013826
23     2     6 -0.014506
24     2     7 -0.015939
25     2     8 -0.017285
26     2     9 -0.019915

In [13]:
oversold_df.to_csv('oversold.csv',encoding='ANSI')

## 4.볼린저밴드 폭 축소, 하한선 터치 후 상승 시 매수

In [19]:
def bb(cluster, w=20, k=2,period=1): # w-day bollinger band with k-sigma standard deviation
    #period 일 간 횡보(bb 폭 축소) 후 하한선 터치, 이후 상승 시 매수
    jongmok=list(data[(data['클러스터']==cluster)& (data['일자']=='2016년 2월')]['종목명'])
    up_down=[]
    for i in range(len(jongmok)):
        x=pd.Series(close[jongmok[i]])
        mbb = x.rolling(w).mean()
        ubb = mbb + k * x.rolling(w).std()
        lbb = mbb - k * x.rolling(w).std()
        x=x[w:]
        mbb=mbb[w:]
        ubb=ubb[w:]
        lbb=lbb[w:]
        for j in range(1,len(mbb)-1):
            if x[j]>lbb[j] and x[j-1]<lbb[j-1]:
                up_down.append((x[j+1]-x[j])/x[j])
    up_down=pd.DataFrame(up_down)
    return up_down.median()[0]

In [20]:
#grid search
bb_cluster=[]
bb_w=[]
bb_k=[]
bb_ary=[]
for i in range(3):#cluster i 
    for j in range(1,10):#period j
        bb_cluster.append(i)
        bb_period.append(j)
        bb_ary.append(bb(i,j))
            

bb_df=pd.DataFrame({'클러스터':bb_cluster,'하락기간':bb_period,'결과':bb_ary})
bb_df

NameError: name 'bb_period' is not defined

## 5.이동평균선 돌파

In [35]:
def ma(cluster, w=20): # w-day moving average 
    jongmok=list(data[(data['클러스터']==cluster)& (data['일자']=='2016년 2월')]['종목명'])
    up_down=[]
    for i in range(len(jongmok)):
        x=pd.Series(close[jongmok[i]])
        ma = x.rolling(w).mean()
        x=x[w:]
        ma=ma[w:]
        for j in range(1,len(ma)-1):
            if x[j]>ma[j] and x[j-1]<ma[j-1]:
                up_down.append((x[j+1]-x[j])/x[j])
    up_down=pd.DataFrame(up_down)
    print(up_down.describe())

In [39]:
#grid search
ma_cluster=[]
ma_period=[]
ma_ary=[]
for i in range(3):#cluster i 
    for j in range(1,10):#period j
        ma_cluster.append(i)
        ma_period.append(j)
        ma_ary.append(ma(i,j))
            

ma_df=pd.DataFrame({'클러스터':ma_cluster,'하락기간':ma_period,'결과':ma_ary})
ma_df

                 0
count  1541.000000
mean      0.003493
std       0.042374
min      -0.124294
25%      -0.016461
50%      -0.001250
75%       0.013158
max       0.300000

## 6.골든 크로스, 데드 크로스

In [ ]:
def goldencross(cluster,k):

In [ ]:
def deadcross(cluster,k):

## 7.거래량에 따른 주가 변화

In [ ]:
def volumechange(cluster,k):